MODEL_GARDEN_BASE_URL=https://quasarmarket.coforge.com/qag/llmrouter-api/v2
MODEL_GARDEN_API_KEY=

LLM_MODEL = gpt-4o

EMBEDDING_PROVIDER=local
# EMBEDDING_PROVIDER=model_garden
EMBEDDING_API_URL=https://quasarmarket.coforge.com/qag/llmrouter-api/v2/text/embeddings
EMBEDDING_MODEL = text-embeddings 
EMBEDDING_DIM = 736